<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps101.example.cardswap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- We need to get permission to use the phone's NFC -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        This meta-data only allows NFC to occur in the activity where we created the
        callbacks. Otherwise the NFC beam will occur in any activity
        -->
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <activity
            android:name=".CardSwap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardEdit"
            android:label="@string/title_activity_card_edit" />
        <!-- The theme, "Holo.Light.Dialog", shows this activity as a dialog box -->
        <activity
            android:name=".ContactReceive"
            android:label="@string/title_activity_contact_receive"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >

            <!--
            We need to add this intent filter in order to launch this activity from an NFC beam
            by specifying the NDEF_DISCOVERED action
            -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- the data is going to have the id/tag of "application/apps101.example.cardswap" -->
                <data android:mimeType="application/apps101.example.cardswap" />
            </intent-filter>
        </activity>
    </application>

</manifest>